{% include '_partials/_header.html' %}
<div id="smooth-wrapper">
    <div id="smooth-content">
        <section class="hero" data-component="Drag">
            <div class="wrapper">
                <div class="hero__media"></div>
                <div class="hero__content">
                    <h1>Drag Démo</h1>
                    <p>
                        using
                        <span>''gsap''</span>
                    </p>
                </div>
                <span class="indicator" data-component="Indicator">
                    <p>Draggez vers le haut</p>
                    <svg class="icon icon--xl">
                        <use href="#icon-arrow-right"></use>
                    </svg>
                </span>
            </div>
        </section>
        <section class="texte">
            <div class="wrapper">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias architecto neque culpa, esse perspiciatis soluta natus asperiores
                    aspernatur ipsa tempore? Ea sint esse sed nesciunt minus corporis necessitatibus rem impedit, cum eos alias quibusdam qui autem ut
                    reiciendis molestiae blanditiis. Incidunt velit dignissimos, modi tenetur assumenda recusandae quibusdam dolore officiis aut voluptates
                    impedit quo ducimus a obcaecati aliquid veritatis doloremque eos ad qui est quisquam. Molestias suscipit reprehenderit ex, soluta a expedita
                    nemo consequatur corrupti adipisci modi explicabo porro velit totam ipsam esse accusamus facilis ab quia praesentium fugiat? Corrupti
                    facilis omnis optio! Ducimus molestias illum, atque quas excepturi, voluptate necessitatibus aut quo, velit quia quisquam iste! Dignissimos
                    nihil soluta doloribus laboriosam qui quae, ducimus amet nostrum perspiciatis. Labore suscipit dolorem nam accusantium eveniet eos aliquam
                    consequuntur amet quas velit corrupti aut, recusandae illo quidem saepe cum tempora voluptas laudantium obcaecati est culpa facilis
                    provident a! Libero incidunt voluptate voluptates ducimus rerum atque, velit nihil inventore consequuntur, eaque esse quidem commodi.
                    Repellat libero voluptate, nulla consequatur possimus nemo ad! Maiores nam, consectetur odio quam voluptatibus sunt labore, dolor, facilis
                    excepturi totam tenetur! Aliquid nobis iste consequatur, asperiores, corrupti eos sunt excepturi quas eum porro culpa nesciunt beatae natus
                    explicabo ullam fugit enim, libero cumque incidunt veniam itaque. Architecto similique ex, voluptate hic iste adipisci sit. Dolores eveniet
                    laboriosam earum, labore, sunt facere vitae facilis qui id eligendi ducimus totam corrupti, rem aliquid quis! Vel tenetur totam voluptate
                    tempora. Dolorum fuga voluptatibus reprehenderit repellat eos inventore, dolorem quasi numquam hic minus necessitatibus pariatur, nesciunt
                    fugiat provident recusandae, unde perferendis veritatis repellendus tenetur laudantium placeat porro magnam ipsam nisi. Sit nam aut nisi
                    recusandae excepturi cum exercitationem dolorem optio ipsa voluptatibus ad modi officiis, impedit, itaque molestias eum quas laudantium, quo
                    molestiae. Dicta ullam nihil saepe tenetur aperiam blanditiis veniam architecto ipsum?
                </p>
            </div>
        </section>
    </div>
</div>
{% include '_partials/_footer.html' %}
